// SASS VARIABLES
// Colors etc.

$white: #ebf0f6
$black: #080808

$bg-light: #00000018

$blue: #62b5e5
$blue-strong: #3185e6
$blue-strong-translucent: #3185e6bc
$blue-subtle: #3185e630

$glow: #ffffff5d
$smoke: #ffffff20
$shadow: #00000039
$shadow-light: #00000025

$edge: 5px

