// SASS VARIABLES
// Colors etc.

$black: #080808
$blacksmoke: #1c1b1e

$white: #ebf0f6
$whitesmoke: #d3d9e0

$blue: #62b5e5
$blue-strong: #3185e6
$blue-strong-translucent: #3185e6bc
$blue-subtle: #3185e630

$glow: #ffffff5d
$smoke: #ffffff20
$shadow: #00000039

$edge: 10px

