// SASS VARIABLES
// Colors etc.

$white: #ebf0f6

$white-ish: #ccced1
$black-ish: #1a1a1b

$black: #080808

$bg-light: #00000018
$bg-dark: #ffffff12

$accent: #62b5e5
$accent-strong: #3185e6
$accent-strong-translucent: #3185e6bc
$accent-subtle: #3185e630

$red: #e64a4aff
$green: #49b624
$blue: #6363f6f4

$red-translucent: #e64a4a4f
$green-translucent: #24da6d3f
$blue-translucent: #6363f66b

$glow: #ffffff5d
$smoke: #ffffff20
$shadow: #00000039
$shadow-light: #00000025
$shadow-heavy: #00000066

$edge: 5px

