span.floating {
  font-size: 24px;
  z-index: 400;
  color: #ebf0f6;
  outline: 2px solid transparent;
  padding: 1rem;
  border-radius: 5px;
  transition: all 0.2s;
  backdrop-filter: brightness(0.6);
  -webkit-backdrop-filter: brightness(0.6);
}
span.floating:hover {
  outline-color: #ebf0f6;
}

a > div.card {
  cursor: pointer;
}
a > div.card span.floating {
  opacity: 0;
  left: 1rem;
  bottom: 1rem;
  position: absolute;
}
a > div.card:hover span.floating {
  opacity: 0.8;
}

div.card {
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 5px;
  background: none;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2235294118);
}
div.card * {
  color: #ebf0f6;
}
div.card:hover {
  transform: scale(1.05);
}
div.card.cover {
  margin-block: 3rem;
}
div.card.cover span.title {
  font-size: 32px;
  font-weight: 500;
  top: 1rem;
  left: 1rem;
}
div.card.cover i {
  z-index: 300;
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  font-size: 60px;
}
div.card span.title {
  z-index: 200;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-size: 28px;
}
div.card div.gradient {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
  position: relative;
  border-radius: 5px;
}
div.card div.gradient:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 5px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6745098039) 0%, rgba(0, 0, 0, 0.5764705882) 37%, rgba(255, 255, 255, 0) 100%);
  outline: 2px solid var(--bg);
}
div.card div.gradient img, div.card div.gradient svg {
  border-radius: 5px;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  outline: 2px solid var(--bg);
}
div.card div.gradient svg {
  height: 50%;
  position: absolute;
  top: 15%;
  outline: none;
}

div.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  margin-bottom: 3rem;
}
div.cards.subtle .card {
  height: 150px;
  padding-block: 1rem;
  background: rgba(49, 133, 230, 0.1882352941);
}
div.cards.subtle .card * {
  opacity: 0.9;
  color: var(--fg);
}
div.cards.subtle .card:hover * {
  opacity: 1;
}
div.cards.subtle .card div.gradient:after {
  background: none;
}
div.cards.subtle .card div.gradient:after svg {
  height: 40%;
}
div.cards.centered span {
  font-size: 20px;
  width: 90%;
  text-align: center;
}

div.carousel {
  width: 100%;
}
div.carousel ol * {
  background: var(--fg) !important;
}
div.carousel div.slide {
  overflow: hidden;
  width: 100%;
  height: 300px;
  border-radius: 0;
  position: relative;
}
div.carousel div.slide:hover img {
  transform: scale(1.05);
}
div.carousel div.slide img {
  border-radius: 0;
  width: 100%;
  height: 300px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: transform 0.3s;
}
div.carousel div.slide img.crop-top {
  -o-object-position: top !important;
     object-position: top !important;
}
div.carousel div.slide span.floating {
  z-index: 2000;
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translate(-50%, 0);
}
div.carousel button {
  opacity: 0.5;
}
div.carousel button *, div.carousel button {
  border-radius: 50%;
  color: #ebf0f6 !important;
  background: none !important;
}

main div.carousel *, main div.carousel {
  border-radius: 5px;
}

.title-group {
  position: relative;
}
.title-group .brand-subtitle {
  opacity: 0.6;
  font-size: 14px;
}/*# sourceMappingURL=antarktis.css.map */