@import '_vars'

html
    overflow-x: hidden

    background: none

    *:not(.carousel *)
        transition: all 0.2s, background 0s

    *
        color: var(--fg)
        font-family: 'Inter'

body
    margin: 0

    background: var(--bg)
    box-shadow: 10px 10px 20px var(--shadow)

header
    top: 0
    left: 0
    height: auto
    padding: 20px
    padding-inline: 4rem
    position: sticky
    z-index: 1000

    display: flex
    align-items: center
    justify-content: space-between

    background: var(--accent)
    box-shadow: 10px 10px 20px var(--shadow)

    *
        color: $white

    .brand 
        display: flex
        align-items: center

        img
            height: 50px
            margin-right: 20px

        h1
            font-size: 26px
            font-weight: bold
            margin: 0

    .links
        display: flex
        align-items: center

        a
            font-size: 18px
            margin-left: 20px
            text-decoration: none

            &:hover
                text-shadow: 0 0 10px var(--glow)

            &.active
                text-decoration: underline
                text-decoration-thickness: 3px

        .bi
            font-size: 18px
            margin-right: 5px

    div.mobile-nav-icon
        display: none
        font-size: 36px
        margin-left: 20px

        cursor: pointer
        transition: transform 0.5s

        &:active
            transform: scale(0.8)

        &.open
            transform: rotate(90deg) 

#mobnav
    top: 0
    left: 0

    z-index: 900
    position: fixed

    backdrop-filter: blur(5px)
    -webkit-backdrop-filter: blur(5px)

    height: 0
    width: 100%
    overflow: hidden
    
    text-align: center

    transition: height 0.5s
    background: $blue-strong-translucent

    div.content
        padding-top: 10rem

    .links, a, i
        display: block
        font-size: 40px !important
        line-height: 2
        color: $white

        &.active
            text-decoration: underline
            text-decoration-thickness: 3px

main
    padding: 4rem
    padding-top: 2rem

footer
    padding: 3rem

    background: var(--bg-light)

    *
        opacity: 0.8

    i
        margin-right: .5rem

    display: grid
    grid-template-columns: auto auto auto

    section
        margin-inline: auto

a
    text-decoration: none

p, footer
    a
        text-decoration: underline

        &:hover
            opacity: 0.7

mark
    margin-left: 5px
    color: var(--accent)
    border-radius: 5px
    background: $white

p
    line-height: 1.5

blockquote
    opacity: 0.9
    margin: 1rem
    margin-inline: 0
    padding: 1rem
    background: var(--bg-light)
    border-radius: $edge
