// Login system etc.

@import '_vars'

div.entry
    margin-left: auto
    margin-right: auto

    width: 50%
    padding: 2rem
    border-radius: $edge

    background: var(--alt)
    text-align: center

    h1
        margin-block: 0
        margin-bottom: 3rem

    div.content
        margin-left: auto
        margin-right: auto

        width: 70%
        text-align: left

        p
            margin-block: 0
            margin-bottom: 5px

span.label
    display: block
    margin-block: 0.5rem

    font-weight: bold

input
    width: 100%
    padding: 0.5rem
    font-size: 20px
    color: var(--fg)
    border: none
    background: var(--input)
    border-radius: $edge
    outline: 5px solid transparent

    &:focus
        outline-color: $green-translucent

        &:invalid
            outline-color: $red-translucent

    &[type=checkbox]
        width: auto
        margin-block: 1rem
        transform: scale(1.4)

        cursor: pointer

        &:focus
            outline: none

div.password-input
    position: relative

    i
        cursor: pointer
        font-size: 24px
        position: absolute
        top: 50%
        right: -3rem
        transform: translate(-50%, -50%)
        text-shadow: 0 0 5px var(--input), 0 0 5px var(--input), 0 0 5px var(--input)
