@media (max-width: 800px)
    main
        padding: 2rem

    header
        height: 40px
        padding-inline: 2rem

        .title-group
            display: none

        div.links
            display: none

        div.mobile-nav-icon
            display: inherit

    footer
        text-align: center
        display: block

        .theme-toggle
            position: static !important

    body
        box-shadow: none

    html
        background: var(--alt)

@media (min-width: 1400px)
    header, main, footer
        padding-inline: 22rem

@media (min-width: 2400px)
    header, main, footer
        padding-inline: 45rem
