@media (max-width: 800px)    
    main
        padding: 2rem

    header
        height: 40px
        padding-inline: 2rem

        h1
            display: none

        div.links
            display: none
        
        div.mobile-nav-icon
            display: inherit

    footer
        text-align: center
        display: block

    body
        box-shadow: none

    html
        background: var(--bg-light)    

@media (min-width: 1400px)
    header
        padding-inline: 22rem

    main
        padding-inline: 22rem

    footer
        padding-inline: 22rem

@media (min-width: 2400px)
    header
        padding-inline: 45rem

    main
        padding-inline: 45rem

    footer
        padding-inline: 45rem
