// THEME CONFIGURATION
// Matching which colors to use for the current theme

@import '_vars'

:root
    --glow: #{$glow}
    --shadow: #{$shadow}

html.dark
    --fg: #{$white}
    --bg: #{$black}
    --bg-ish: #{$black-ish}
    --alt: #{$bg-dark}
    --input: #{$smoke}

    --accent: #{$accent-strong}

html.light
    --fg: #{$black}
    --bg: #{$white}
    --bg-ish: #{$white-ish}
    --alt: #{$bg-light}
    --input: #{$glow}

    --accent: #{$accent-strong}
