@import '_vars'

:root
    --glow: #{$glow}
    --shadow: #{$shadow}

html.dark
    --fg: #{$white}

    --accent: #{$blue}
    
    --bg: #{$black}
    --bg-light: #{$blacksmoke}

html.light
    --fg: #{$black}
    
    --accent: #{$blue}
    
    --bg: #{$white}
    --bg-light: #{$whitesmoke}
