{% include 'components/top.html' %}

<main>
    <h2>Shop</h2>

    <div class="item-row">
        {% for product in products %}
        <div class="item">
            <img src="/static/assets/products/{{ product.id }}.jpg">
            <div class="content">
                <span class="title">{{ product.title }}</span>
                <span class="price">{{ product.price }} €</span>
                <div class="bars">
                    <span class="bar-title">Strom-Effektivität ¹</span>
                    <span class="bar-percentage">{{ product.power }}</span>
                    <div class="bar">
                        <div class="bar-fill" style="width: {{ product.power }}">
                            <div></div>
                        </div>
                    </div>
                    <span class="bar-title">Videospiel und 3D-Rendering</span>
                    <span class="bar-percentage">{{ product.gaming }}</span>
                    <div class="bar">
                        <div class="bar-fill" style="width: {{ product.gaming }}">
                            <div></div>
                        </div>
                    </div>
                    <span class="bar-title">Office-Anwendungen</span>
                    <span class="bar-percentage">{{ product.office }}</span>
                    <div class="bar">
                        <div class="bar-fill" style="width: {{ product.office}}">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <p>¹ Je höher Wert, desto besser die Leistung.</p>
</main>

{% include 'components/end.html' %}
