<footer>
    <section>
        <h3>arctus</h3>
        <p>&copy;2022-2023 Arctus Labs.</p>
    </section>

    <section>
        <h3>Socials</h3>
        <a title="Arctus at GitHub" href="https://github.com/arctus-labs" target="_blank">
            <i class="bi bi-github"></i>GitHub @arctus-labs
        </a>
        <br>
        <a title="Arctus at Instagramm" href="https://instagram.com/arctus-labs" target="_blank">
            <i class="bi bi-instagram"></i>Instagram @arctus-labs
        </a>
    </section>

    <section>
        <h3>Useful Links</h3>
        <a href>
            Help pages
        </a>
        <br>
        <a href>
            Community forum
        </a>
        <br>
        <a href>
            Contact the team
        </a>
    </section>
</footer>
