<footer>
    <div class="grid-item">
        <h3>arctus.me</h3>
        <p>&copy; 2022-2023 Arctus Labs</p>
        <a onclick="toggleTheme();" class="theme-toggle">
            <i translate="no" id="themeTogglerIcon" class="bi bi-sun"></i>Farbschema wechseln
        </a>
    </div>

    <div class="grid-item">
        <h3>Soziale Netzwerke</h3>
        {% for social in socials %}
            <a title="Arctus at {{ social.platform }}" href="{{ social.url }}" target="_blank">
                <i translate="no" class="bi bi-{{ social.icon }}"></i>{{ social.platform }} {{ social.tag }}
            </a>
            <br>
        {% endfor %}
    </div>

    <div class="grid-item">
        <h3>Links</h3>
        {% for path, title in links %}
        <a href="{{ path }}">
            {{ title }}
        </a>
        <br>
        {% endfor %}
    </div>
</footer>
