<header>
    <a href="/">
        <div class="brand">
            <img src="/static/assets/brand/arctus-icon.png">
            <h1>Arctus Labs</h1>
        </div>
    </a>

    <div class="links">
        {% for link in nav_links %}
            <a
                class="{{ 'active' if link.title == title }} {{ link.class }}"
                style="{{ link.css }}"
                href="{{ link.target }}"
                {{ ' target="_blank"' if link.is_external else '' }}
            >
                <i class="bi bi-{{ link.icon }}"></i>
                {{ link.title }}
            </a>
        {% endfor %}
    </div>
    
    <div class="mobile-nav-icon" onclick="openMobileNav()">
        <i id="mobnav-icon" class="bi bi-list"></i>
    </div>
</header>

<div id="mobnav">
    <div class="content">
        {% for link in nav_links %}
            <a
                class="{{ 'active' if link.title == title }} {{ link.class }}"
                style="{{ link.css }}"
                href="{{ link.target }}"
                {{ ' target="_blank"' if link.is_external else '' }}
            >
                <i class="bi bi-{{ link.icon }}"></i>
                {{ link.title }}
            </a>
        {% endfor %}
    </div>
</div>