<header id="header">
    <a href="{{'javascript:window.scrollTo(0, 0);' if title == 'Home' else '/'}}">
        <div class="brand">
            <img src="/static/assets/brand/arctus-icon.png">
            <div class="title-group">
                <h1>Arctus</h1>
                <span class="brand-subtitle">Made in Germany - seit 2022</span>
            </div>
        </div>
    </a>

    <div class="links">
        {% for link in nav_links %}
            <a
                class="{{ 'active' if link.title == title }} {{ link.class }}"
                style="{{ link.css }}"
                href="{{ link.target }}"
                {{ ' target="_blank"' if link.is_external else '' }}
            >
                <i translate="no" class="bi bi-{{ link.icon }}"></i>
                {{ link.title }}
            </a>
        {% endfor %}
    </div>

    <div class="mobile-nav-icon" onclick="openMobileNav()">
        <i translate="no" id="mobnav-icon" class="bi bi-list"></i>
    </div>
</header>

<div id="mobnav">
    <div class="content">
        {% for link in nav_links %}
            <a
                class="{{ 'active' if link.title == title }} {{ link.class }}"
                style="{{ link.css }}"
                href="{{ link.target }}"
                {{ ' target="_blank"' if link.is_external else '' }}
            >
                <i translate="no" class="bi bi-{{ link.icon }}"></i>
                {{ link.title }}
            </a>
        {% endfor %}
    </div>
</div>
