<meta property="og:title" content="Arctus">
<meta property="og:type" content="article">
<meta property="og:url" content="https://arctus.me/">
<meta property="og:image" content="https://arctus.me/static/assets/brand/arctus-icon.png">
<meta property="og:description" content=
    "Arctus ist ein deutscher Online-Shop und Hersteller für Computersysteme.
    Suchen Sie günstige Computer und Gaming PCs zum Mieten oder Kaufen? So sind Sie bei uns genau richtig!"
>
<meta property="og:determiner" content="the">
<meta property="og:locale" content="de_DE">
<meta property="og:locale:alternate" content="en_US">
<meta property="og:locale:alternate" content="en_GB">
<meta property="og:site_name" content="Arctus">

<meta property="og:article:author" content="Arctus Labs">
<meta property="og:article:tag" content="gaming pc computer mieten kaufen leihen deutschland">
