{% include 'components/footer.html' %}
</body>
</html>
<script src="/static/js/cookie.js"></script>
<script>
    const htmlTag = document.getElementsByTagName('html')[0]
    const themeTogglerIcon = document.getElementById('themeTogglerIcon');
    
    if (getCookie('theme') == 'light') {
        htmlTag.className = 'light';
        themeTogglerIcon.className = 'bi bi-sun';
    }
    
    if (getCookie('theme') == 'dark') {
        htmlTag.className = 'dark';
        themeTogglerIcon.className = 'bi bi-moon';
    }
</script>