<header id="header">
    <div class="left">
        <a href="#main">
            <div class="brand">
                <img alt="Arctus-Icon" width="50px" height="50px" src="/static/assets/brand/arctus-icon.png">
                <div class="title-group">
                    <span class="brand-title">Arctus</span>
                    <br>
                    <!-- <span class="brand-subtitle" style="background: rgb(192, 12, 9)">Aktuell in der Entwicklungsphase!</span> -->
                    <span class="brand-subtitle">Made in Germany</span>
                </div>
            </div>
        </a>
    </div>

    <div class="links">
        {% include 'components/nav.html' %}
    </div>
    <div class="mobile-nav-icon" onclick="openMobileNav()">
        <i id="mobnav-icon" class="bi bi-list"></i>
    </div>
</header>

<div id="mobnav">
    <div class="content">
        {% include 'components/nav.html' %}
    </div>
</div>
