<header id="header">
    <a href="{{'javascript:window.scrollTo(0, 0);' if title == 'Home' else '/'}}">
        <div class="brand">
            <img src="/static/assets/brand/arctus-icon.png">
            <div class="title-group">
                <h1>Arctus</h1>
                <span class="brand-subtitle" style="background: rgb(192, 12, 9)">Aktuell in der Entwicklungsphase!</span>
                <!-- <span class="brand-subtitle">Made in Germany - seit 2022</span> -->
            </div>
        </div>
    </a>

    <div class="links">
        {% include 'components/nav.html' %}
    </div>
    <div class="mobile-nav-icon" onclick="openMobileNav()">
        <i id="mobnav-icon" class="bi bi-list"></i>
    </div>
</header>

<div id="mobnav">
    <div class="content">
        {% include 'components/nav.html' %}
    </div>
</div>
