<meta property="og:title" content="Arctus - Gaming PCs mieten & kaufen">
<meta property="og:type" content="article">
<meta property="og:url" content="https://arctus.me/">
<meta property="og:image" content="https://arctus.me/static/assets/brand/embed.png">
<meta property="og:description" content=
    "Arctus ist ein deutscher online-Shop und Hersteller für Computersysteme. Suchen Sie günstige Computer und Gaming PCs zum Mieten oder Kaufen? ✅ So sind Sie bei uns genau richtig!"
>
<meta property="og:determiner" content="the">
<meta property="og:locale" content="de_DE">
<meta property="og:locale:alternate" content="en_US">
<meta property="og:locale:alternate" content="en_GB">
<meta property="og:site_name" content="Official Arctus Labs Website">

<meta property="og:article:author" content="Arctus Labs">
<meta property="og:article:tag" content="gaming pc computer mieten kaufen leihen deutschland">

<meta name="description" content=
    "Arctus ist ein deutscher online-Shop und Hersteller für Computersysteme. Suchen Sie günstige Computer und Gaming PCs zum Mieten oder Kaufen? ✅ So sind Sie bei uns genau richtig!"
>
<meta name="theme-color" content="#3185e6">
<meta name="twitter:card" content="summary_large_image">
