<!DOCTYPE html>
<html lang="en" class="light">

<head>
    <meta charset="UTF-8">
    <meta name="darkreader-lock">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/static/assets/brand/arctus-icon.png" type="image/x-icon">

    {% include 'components/seo.html' %}

    <!-- Internal -->
    {% for css in ['arktis', 'theme', 'responsive', 'antarktis', 'winter', 'snow'] %}
    <link rel="stylesheet" href="/static/css/{{ css }}.css">
    {% endfor %}

    <!-- External -->
    {% for ecss in [
        '/static/css/flickity.css',
        'https://rsms.me/inter/inter.css',
        '/static/css/bootstrap-icons.css'
    ] %}
    <link rel="stylesheet" href="{{ ecss }}" class="notranslate">
    {% endfor %}

    <!-- Scripts -->
    <!-- External -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% for js in ['nav', 'arktis', 'flickity.pkgd.min'] %}
    <script src="/static/js/{{ js }}.js"></script>
    {% endfor %}


    <title>{{ title }} | Arctus</title>
</head>
{% include 'components/header.html' %}
