{% include 'components/top.html' %}

<main>
    <h2>Bildnachweise</h2>
    <h3>Pictures</h3>
    <p>
        <ul>
            <!-- <li>
                <a href="" target="_blank">
                    
                </a>
            </li> -->
            <li>
                <a href="https://pixabay.com/photos/gaming-computer-gaming-pc-6903836/" target="_blank">
                    RGB Gaming PC
                </a>
            </li>
            <li>
                <a href="https://pixabay.com/photos/fan-computer-pc-build-interior-5694566/" target="_blank">
                    Red gaming PC
                </a>
            </li>
        </ul>
    </p>
</main>

{% include 'components/end.html' %}