{% include 'components/top.html' %}

<main>
    <h2>404 - Seite nicht gefunden</h2>
    <p>
        Ein Fehler ist aufgetreten.
        Die von Ihnen gewünschte Internetadresse konnte von Arctus nicht gefunden werden.
    </p>
    <h3>Was ist passiert?</h3>
    <ul>
        Der Pfad <code>{{ path }}</code> wurde nicht gefunden.
    </ul>
    <h3>Dies kann folgende Gründe haben:</h3>
    <ul>
        <li>Wir haben diese Unterseite gelöscht oder auf eine andere Internetadresse verschoben.</li>
        <li>Sie haben einen fehlerhaften oder veralteten Link angeklickt.</li>
    </ul>
    <h3>Was sie tun können:</h3>
    <ul>
        <li>Stellen Sie sicher, dass die Adresse <code>{{ path }}</code> korrekt ist.</li>
        <li>Notfalls können Sie sich aber natürlich auch an <a href="/support">das Team</a> wenden.</li>
    </ul>
</main>

{% include 'components/end.html' %}
