{% include 'components/top.html' %}

<main>
    <h2>Credits</h2>
    <h3>Pictures</h3>
    <ul>
        <!-- <li>
            <a href="" target="_blank">
                
            </a>
        </li> -->
        <li>
            <a href="https://pixabay.com/photos/gaming-computer-gaming-pc-6903836/" target="_blank">
                RGB Gaming PC
            </a>
        </li>
        <li>
            <a href="https://pixabay.com/photos/fan-computer-pc-build-interior-5694566/" target="_blank">
                Red gaming PC
            </a>
        </li>
    </ul>
</main>

{% include 'components/end.html' %}