{% include 'components/top.html' %}

<main>
    <p>
        View this website in...
        <a href="https://arctus-me.translate.goog/?_x_tr_sl=auto&_x_tr_tl=en&_x_tr_hl=en-US&_x_tr_pto=wapp">🇺🇸🇬🇧 </a>
        <h5>Using Google Translate</h5>
    </p>
    <h1>Home</h1>
    <a href="/reperatur">
        <div class="big-card">
            <div class="gradient">
                <span>24/7 Reparatur Service</span>
                <img src="/static/assets/building.jpg">
            </div>
        </div>
    </a>

    <p> Willkommen auf Arctus. Hier können Sie Ihren Computer zur Reparatur einschicken oder Computer zu günstigen Angeboten erhalten.
        Wir bieten vielfältige Zahlungsmethoden für Sie an 
        und versprechen Ihnen eine qualitative und zuverlässige Reparatur. Zudem versichern wir Ihnen eine schnelle Lieferung <b>ohne Versandkosten</b>.
    </p>
</main>

{% include 'components/end.html' %}